body {
    background: #6DBDD6;
    color: #000305;
    font-size: 87.5%; /* base font size is 14px */
    font-family: Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #B71427;
}

a:hover, a:active {
    background-color: #B71427;
    color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.body {
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.mainHeader img {
    width: 30%;
    height: auto;
    margin: 2% 0;
}

.mainHeader nav {
    background-color: #118C4E;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainHeader nav ul {
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav ul li {
    float: left;
    display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
    color: #FFF;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}
/*hover and active links change color*/
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
    background-color: #B71427;
    text-shadow: none;
}
/*to give link round corners*/
.mainHeader nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/**/
.mainContent {
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/**/
.content {
    width: 70%;
    float: left;
}
.topcontent {
    background-color: #FFF;
    padding: 3% 5%;
    margin-top: 2%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.bottomcontent {
    background-color: #FFF;
    padding: 3% 5%;
    margin-top: 2%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.post-info {
    font-style: italic;
    color: #999;
    font-size: 90%;
}

/**/
.top-sidebar {
    width: 21%;
    margin: 2% 0 2% 3%;
    padding: 2% 3%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.middle-sidebar {
    width: 21%;
    margin: 2% 0 2% 3%;
    padding: 2% 3%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.bottom-sidebar {
    width: 21%;
    margin: 2% 0 2% 3%;
    padding: 2% 3%;
    float: left;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

.mainFooter {
    width: 100%;
    height: 40px;
    float: left;
    background-color: #118C4E;
    margin: 2% 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainFooter p {
    width: 92%;
    margin: 10px auto;
    color: #FFF;
}

/* FORMS */
.alignright {text-align:right}
#contacts-form {clear:right;width:100%;overflow:hidden}
#contacts-form fieldset {border:none;float:left}
#contacts-form .field {clear:both}
#contacts-form label {float:left;width:106px;line-height:18px;padding-bottom:8px}
#contacts-form input {width:246px;padding:1px 0 1px 3px;border:1px solid #e2e2e2;color:#70635b;background:#fff}
#contacts-form textarea {width:443px;height:403px;padding:1px 0 1px 3px;border:1px solid #e2e2e2;color:#4e4e4e;background:#fff;margin-bottom:15px;overflow:auto}

@media only screen and (min-width: 150px) and (max-width: 600px)
{
    .body {
        width: 95%;
        font-size: 95%;
    }	

    .mainHeader img {
        width: 100%;
    }

    .mainHeader nav {
        height: 160px;
    }

    .mainHeader nav ul {
        padding-left: 0;
    }

    .mainHeader nav ul li {
        width: 100%;
        text-align: center;
    }

    .mainHeader nav a:link, .mainHeader nav a:visited {
        color: #FFF;
        display: inline-block;
        padding: 10px 25px;
        height: 20px;
        display: block;
    }

    /**/
    .content {
        width: 100%;
        float: left;
        margin-top: 2%;
    }

    .topcontent {
        margin-bottom: 4%;
    }

    .bottomcontent {
        margin-top: 3%;

    }

    .post-info {
        display: none;/*focus on important stuff on mobile*/
    }

    /**/
    .top-sidebar, .middle-sidebar, .bottom-sidebar {
        width: 94%;
        margin: 2% 0 2% 0;
        padding: 2% 3%;
    }

}
.table  {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#aabcfe;
}
.table th{
          font-family:Arial, sans-serif;
          font-size:14px;
          font-weight:normal;
          padding:10px 5px;
          border-style:solid;
          border-width:1px;
          overflow:hidden;
          word-break:normal;
          border-color:#aabcfe;
          color:#039;
          background-color:#b9c9fe;
}
.table td{
          font-family:Arial, sans-serif;
          font-size:14px;
          padding:10px 5px;
          border-style:solid;
          border-width:1px;
          overflow:hidden;
          word-break:normal;
          border-color:#aabcfe;
          color:#669;
          background-color:#e8edff;
}

.table .EvenRow{
    background-color:#D2E4FC;
    text-align:right
}
.table .OddRow{
    background-color:#D2E4FC;
    text-align:center
}



.image-shown
{
    display: inline-block;
}

.image-hidden
{
    display: none;
}

.frame
{
    width: 40%;
    height: 40%;
    position: relative;
    padding: 2% 3%;

}

.frame img
{
    width: 80%;
    height: 80%;
    border-radius: 3%;
}

.previousLink, .nextLink
{
    margin-top: 25%;
}

.previousLink
{
    margin-left: 14%;
    background-color: #118C4E;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    color: #FFF;
    padding: 2% 3%;
    
}

.nextLink
{

    background-color: #118C4E;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    color: #FFF;
    padding: 2% 3%;
}

.paginate
{
    background-color: #118C4E;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    color: #FFF;
    padding: 2% 3%;
    cursor: pointer;
}
.paginateList
{
        display: inline;
        padding-right: 2%;
}

.image-shown{
    
}



